$black: #1b262c;
$mid-black: #4e5763;
$light-black: #6f7987;
$brand-color: #ffe75e;

$primary-bg: #fffdf9;
$secondary-bg: #f2f2f2;
$terciary-bg: #fffbec;

$white: #ffffff;
$orange: #ff6f5e;
$green: #00918e;
$green-light: #7fcd91;
$blue: #4f98ca;
$dark-blue: #35495e;
$yellow: #ffdc34;