$custom-font-family: "sumitpal_custom_fonts" !default;
$custom-font-path: "fonts" !default;

$icon_instagram: "\e900";
$icon_mail: "\e159";
$icon_tick: "\e876";
$icon_cross: "\e927";
$icon_download: "\e92c";
$icon_github: "\e937";
$icon_document: "\e93d";
$icon_location: "\e93e";
$icon_share: "\e954";
$icon_js: "\e95d";
$icon_suitcase: "\e962";
$icon_stack: "\e963";
$icon_youtube: "\e96b";
$icon_linkedin: "\e96c";
$icon_facebook: "\e96f";
$icon_twitter: "\e970";
$icon_react: "\e97c";
$icon_vue: "\e98a";
$icon_d3: "\e98b";

