.error-page{
    h1{
        color: white;
        text-align: center;
        font-size: 151px;
        text-shadow: 0 1px 4px rgba(0,0,0,0.1);
    }
    
    a{
        text-decoration: none;
        padding: 10px 20px;
        margin-top: 20px;
        display: inline-block;
    }
    
    span{
        display: block;
    }
    
    h1, span, a{
        text-align: center;
    }
    
    
    
}